.header {

  margin-bottom: 100px;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__title {
    margin-left: auto;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.menu {
  margin: 0 186px 0 131px;

  &__item {
    font-size: 12px;
    text-transform: uppercase;
    color: $linkColor;
  }
}
.user-nav {
  display: flex;
  gap: 20px;
}
