.products {
  margin-bottom: 150px;
  color: $blackColor;

  &__inner {
    position: relative;
    min-height: 647px;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    line-height: 1.34;
    width: 100px;
  }

  &__items {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 200px;
  }

  &__item {
    text-align: center;
  }

  &__item-step {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    opacity: 0.5;
  }

  &__item-img {
    margin-bottom: 20px;
  }

  &__item-brand {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__item-name {
    margin-bottom: 10px;
  }

  &__item-price {
    font-family: "Playfair Display", serif;
    font-size: 32px;
  }
}
